In [27]:
import pandas as pd
import sys
import numpy as np
from dotenv import load_dotenv
load_dotenv()
import os
import requests

In [28]:
data = pd.read_csv("Data/companies_with_address.csv" , delimiter=";")

In [29]:
def get_place_id(name, address, place):
    base_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json"
    params = {
        "input": f"{name}, {address} {place}",
        "inputtype": "textquery",
        "fields": "place_id",
        "key": os.getenv("GOOGLE_API_KEY")
    }

    response = requests.get(base_url, params=params)
    result = response.json()

    if result.get("candidates"):
        return result["candidates"][0]["place_id"]
    else:
        return None

In [30]:
data['place_id'] = data.head(10).apply(lambda row: get_place_id(row['Naam'], row['Adres'], row['Gemeente']), axis=1)
data.head()

,Naam,Gemeente,Laatste jaar,Adres,Ondernemingsnummer,BvD ID nummer,place_id
0,ALPHA CREDIT,BRUSSEL,2023.0,Warandeberg 8 b.3,0445 781 316,BE0445781316,ChIJH-_EZIDEw0cR0R-3VfmWrSk
1,COWBOY,BRUSSEL,2023.0,Regentschapsstraat 67,0669 908 031,BE0669908031,ChIJWysouY7Fw0cRO7FXCva-I-8
2,DOD,BRUSSEL,2014.0,Leuvensesteenweg 16,0419 684 455,BE0419684455,ChIJRx4JfGPDw0cRFKkBYiz9EZQ
3,UNIVERSAL TRADING SOLUTIONS,BRUSSEL,2013.0,Louizalaan 367,0849 251 826,BE0849251826,ChIJCSJGeu7Ew0cRUXzNiq8nekU
4,VANBO,BEVEREN-LEIE,2011.0,Grote Heerweg 69,0426 734 474,BE0426734474,ChIJU_xXtAU8w0cRvnFySR_t8Bw